body{
	margin: 0 auto;
	background-image: url("vnice.jpg");
	background-repeat: no-repeat;
	background-size: 100% 1080px ;

	
}
.header{
	background:rgba(255,255,255, 0.1);
	width: 100%;
	height: 130px;
	border-radius: 0px;
}
.header img{
	height: 80px;
	width: 200px;
	margin-left: 15px;
	margin-top: 15px;
	
}
.container{
	width: 500px;
	height: 400px;
	text-align: center;
	background:rgba(255,255,255, 0.1);
	border-radius: 8px;
	margin: 0 auto;
	margin-top: 150px;
}	
.container logo{
	width: 100px;

}
.container img{
	width: 320px;
	height: 320px;
	margin-top: -160px;
	margin-bottom: 30px;
}
input[type="text"],input[type="password"]{
	height: 45px;
	width: 300px;
	border-radius: 1px;
	font-size: 18px;
	margin-bottom: 80px;
	margin-top: -70px;
	background-color: #fff;
	padding-left: 35px;
	border: none;

}
.form-input::before{
	content: "\f007";
	position: absolute;
	font-family: "FontAwesome";
	font-size: 30px;
	padding-left: 5px;
	color: #2ECC71;
	padding-top: 5px;
	margin-top: -70px;
}
.form-input:nth-child(2)::before{
	content: "\f023";
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.new-user{
	padding: 20px, 20px;
	height: 40px;
	width: 200px;
	margin-top: -10px;
	border: none;
	color: #fff;
	margin-bottom: 20px;
	background-color: #2ECC71;
	border-bottom: 4px solid #27AE60;
	border-radius: 8px;
                   cursor: pointer;

}


#footer{
	color: #fff;
	margin-top: 200px;
	font-family: verdana;
}